<div class="container-fluide">
<div class="row">
  <div id="id1" class="col-xs-5 col-sm-5 col-md-5 col-lg-5 ">
    <div class="card ">
      <div class="card-header">
        <i class="fa fa-edit"></i>{{pageTitle}}
        <div class="card-header-actions">
          <button type="button" class="card-header-action btn btn-link btn-minimize"(click)="toggleCollapse1()"><i class={{iconCollapse}}></i></button>
          <button type="button" class="card-header-action btn btn-link btn-close"(click)="close1()"><i class="icon-close"></i></button>
        </div>
      </div>
      <div (collapsed)="collapsed($event)"
      (expanded)="expanded($event)"
      [collapse]="isCollapsed1"
      class="card-body">
 
    <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label>id Accident  </label>
          <select id="idaccident" formControlName="idaccident" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.idaccident.errors }">
            <option *ngFor="let d of  accidents" [value]="d.id">{{d.description}}</option>
          </select>
          <div *ngIf="submitted && f.idaccident.errors" class="invalid-feedback">
            <div *ngIf="f.idaccident.errors.required">idaccident is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>id Transport  </label>
        <select id="idtransport" formControlName="idtransport" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.idtransport.errors }">
          <option *ngFor="let t of  moyentransports" [value]="t.id">{{t.immatriculation}}</option>
        </select>
        <div *ngIf="submitted && f.idtransport.errors" class="invalid-feedback">
          <div *ngIf="f.idtransport.errors.required">id transport is required</div>
      </div>
    </div>
      <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
        <button type="reset" class="btn btn-dark" (click)="ResetForm()">Annuler</button>
    </div>
    </form>
  </div>
</div>
</div>
<div id="id2" class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
<div class="card ">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Liste Accident Transport
    <div class="card-header-actions">
      <button type="button" class="card-header-action btn btn-link btn-minimize"(click)="toggleCollapse2()"><i class={{iconCollapse}}></i></button>
      <button type="button" class="card-header-action btn btn-link btn-close"(click)="close2()"><i class="icon-close"></i></button>
    </div>
  </div>
  <div (collapsed)="collapsed($event)"
  (expanded)="expanded($event)"
  [collapse]="isCollapsed2"
  class="card-body">
    <app-accidenttransport [accidenttransports]="accidenttransports" [page1]="page1" [count1]="count1" [pageSize1]="pageSize1"></app-accidenttransport>
  </div>
</div>
</div>
</div>
</div>