   <div>
    Liste Moyen Transport
  </div>
  <ngb-tabset>
    <ngb-tab title="Bus">
  <ng-template   #contentModal let-c="close" let-d="dismiss">
    <div class="modal-dialog modal-lg">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-primary-title">Title</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div  class="modal-body centered">
     
    </div>
  </div>
  </ng-template>
      <ng-template ngbTabContent>
        <div class="l" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
          <a class="btn btn-sm btn-success text-white pull-right" (click)="openBus()">
              <i class="fa fa-plus"></i>Add Bus </a>
       </div>
  <table class="table table-bordered table-responsive-sm table-responsive-md
 table-responsive-lg t">
  <thead>
  <tr>
  <th scope="col">Gage</th>
  <th scope="col">Immatriculation </th>
  <th scope="col">Mark</th>
  <th scope="col">Model </th>
  <th scope="col">NumTransport</th>
  <th scope="col">Type</th>
  <th scope="col">Agent </th>
  <th scope="col">Ligne </th>
  <th scope="col">Depot</th>
  <th scope="col">District</th>
  <th colspan="2">
    Action
  </th>
  </tr>
  </thead>
  <tbody *ngIf="buss">
  <tr *ngFor="let item of buss ">
  <td>{{item.gage}}</td>
  <td>{{item.immatriculation}}</td>
  <td>{{item.mark}}</td>
  <td>{{item.model}}</td>
  <td>{{item.numTransport}}</td>
  <td>{{item.type}}</td>
  <td>{{item.agent.id}}</td>
  <td>{{item.ligne.id}}</td>
  <td>{{item.depot.id}}</td>
  <td>{{item.district.id}}</td>
  <td><button class="btn btn-warning btn btn-outline-dark ml-1"  (click) = "selectBus(item.id)" >
    <i class="fa fa-pencil-square-o" ></i></button></td>
 <td><button class="btn btn-danger btn btn-outline-dark ml-1" (click) = "removeData(item.id)">
    <i class="fa fa-trash-o"></i></button></td>
     </tr>
       </tbody>
       </table>
      </ng-template>
    </ngb-tab>
   <ngb-tab title="Metros">
      <ng-template ngbTabContent>
        <div class="l" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
          <a class="btn btn-sm btn-success text-white pull-right" (click)="openMetro()">
              <i class="fa fa-plus"></i>Add Metro </a>
       </div>
       <table class="table table-bordered table-responsive-sm table-responsive-md
       table-responsive-lg t">
        <thead>
        <tr>
        <th scope="col">Gage</th>
        <th scope="col">Immatriculation </th>
        <th scope="col">Mark</th>
        <th scope="col">Model </th>
        <th scope="col">NumTransport</th>
        <th scope="col">Type</th>
        <th scope="col">Agent </th>
        <th scope="col">Ligne </th>
        <th scope="col">Depot</th>
        <th scope="col">District</th>
        <th colspan="2">
          Action
        </th>
        </tr>
        </thead>
        <tbody *ngIf="metros">
        <tr *ngFor="let item of metros">
        <td>{{item.gage}}</td>
        <td>{{item.immatriculation}}</td>
        <td>{{item.mark}}</td>
        <td>{{item.model}}</td>
        <td>{{item.numTransport}}</td>
        <td>{{item.type}}</td>
        <td>{{item.agent.id}}</td>
        <td>{{item.ligne.id}}</td>
        <td>{{item.depot.id}}</td>
        <td>{{item.district.id}}</td>
        <td><button class="btn btn-warning btn btn-outline-dark ml-1"  (click) = "selectMetro(item.id)" >
          <i class="fa fa-pencil-square-o" ></i></button></td>
       <td><button class="btn btn-danger btn btn-outline-dark ml-1" (click) = "removeData(item.id)">
          <i class="fa fa-trash-o"></i></button></td>
           </tr>
             </tbody>
             </table>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Tgm">
            <ng-template ngbTabContent>
              <div class="l" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
                <a class="btn btn-sm btn-success text-white pull-right" (click)="openTgm()">
                    <i class="fa fa-plus"></i>Add Tgm </a>
             </div>
             <table class="table table-bordered table-responsive-sm table-responsive-md
             table-responsive-lg t">
              <thead>
              <tr>
              <th scope="col">Gage</th>
              <th scope="col">Immatriculation </th>
              <th scope="col">Mark</th>
              <th scope="col">Model </th>
              <th scope="col">NumTransport</th>
              <th scope="col">Type</th>
              <th scope="col">Agent </th>
              <th scope="col">Ligne </th>
              <th scope="col">Depot</th>
              <th scope="col">District</th>
              <th colspan="2">
                Action
              </th>
              </tr>
              </thead>
              <tbody *ngIf="tgms">
              <tr *ngFor="let item of tgms ">
              <td>{{item.gage}}</td>
              <td>{{item.immatriculation}}</td>
              <td>{{item.mark}}</td>
              <td>{{item.model}}</td>
              <td>{{item.numTransport}}</td>
              <td>{{item.type}}</td>
              <td>{{item.agent.id}}</td>
              <td>{{item.ligne.id}}</td>
              <td>{{item.depot.id}}</td>
              <td>{{item.district.id}}</td>
              <td><button class="btn btn-warning btn btn-outline-dark ml-1"  (click) = "selectTgm(item.id)">
                <i class="fa fa-pencil-square-o" ></i></button></td>
             <td><button class="btn btn-danger btn btn-outline-dark ml-1" (click) = "removeData(item.id)">
                <i class="fa fa-trash-o"></i></button></td>
                 </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
                      