    <div>
      <h1>{{pageTitle}}</h1>
    </div>

 <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
   <div class="form-group">
   <label>Label</label>
     <input  type="text" placeholder="taper le label de  type d'accident" formControlName="label" id="label">
    </div> 
     <div class="form-group">
     <label>Alias</label>
     <input  type="text" placeholder="taper l'alias de  type d'accident" formControlName="alias" id="alias">
    </div>
    <div class="form-group">
     <button type="submit" class="btn btn-dark"> Submit</button>
     <button type="reset" class="btn btn-dark">Annuler</button>
    </div>
 </form>