   <div>
    Liste Interventions
  </div>
  <div class="l" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      
              <a class="btn btn-sm btn-success text-white pull-right" routerLink="/base/addintervention">
                  <i class="fa fa-plus"></i>Add Intervention</a>
       
  </div>

<div class="pricing-header mx-auto ">
 <div class="table-responsive">
  <table class="table table-bordered table-responsive-sm table-responsive-md
 table-responsive-lg t">
  <thead>
  <tr>
  <th scope="col">Agent intervention</th>
  <th scope="col">Materiel</th>
  <th scope="col">Date Intervention </th>
  <th scope="col">Heure Intervention </th>
  <th scope="col">Action </th>
  <th colspan="2">
    Action
  </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of interventions._embedded.interventions ">
  <td>{{item.agentintervention.id }}</td>
  <td>{{item.materiel.id}}</td>
  <td>{{item.dateIntervention}}</td>
  <td>{{item.heureIntervention}}</td>
  <td>{{item.action}}</td>
  <td><button class="btn btn-warning btn btn-outline-dark ml-1"  (click) = "selectData(item)" [routerLink]="['/base/editintervention', item.id, 'edit']">
    <i class="fa fa-pencil-square-o" ></i></button></td>
 <td><button class="btn btn-danger btn btn-outline-dark ml-1" (click) = "removeData(item.id)">
    <i class="fa fa-trash-o"></i></button></td>
     </tr>
       </tbody>
       </table>
       </div>
     </div>

