<div>
    <h1>{{pageTitle}}</h1> 
    </div>
 
    <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label>id Agent  </label>
          <select id="idagent" formControlName="idagent" class="form-control">
            <option *ngFor="let a of  agents._embedded.agents" [value]="a.id">{{a.lastName}}</option>
          </select>
      </div>
      <div class="form-group">
        <label>id Transport  </label>
        <select id="idtransport" formControlName="idtransport" class="form-control">
          <option *ngFor="let t of  moyentransports._embedded.moyenTransports" [value]="t.id">{{t.immatriculation}}</option>
        </select>
    </div>
      <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
        <button type="reset" class="btn btn-dark">Annuler</button>
      </div>
    </form>
