<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <div class="card-group">
            <div class="card p-10">
              <div class="card-body">
                <form (ngSubmit)="login()">
                  <h1>Login</h1>
                  <p class="text-muted">Login For timesheet </p>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text input-group-lg"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control-lg col-md-10"
                           name="username" 
                           [(ngModel)]="credentials.username"
                           placeholder="username "
                           autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control-lg col-md-10"
                           name="password" 
                           [(ngModel)]="credentials.password"
                           placeholder="password"
                           autocomplete="password" required>
                  </div>

                  <div *ngIf="failed">Invalid username or password</div>

                  <div class="row">
                    <div class="col-6">
                      <button class="btn-lg btn-primary px-lg-6" [disabled]="submitted">login</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
