    <div>
      <h1>{{pageTitle}}</h1>
    </div>
 
    <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">  
      <div class="form-group">
        <label>name Depot </label>
        <input type="text" class="form-control" formControlName="nameDepot" id="nameDepot"   >
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
        <button type="reset" class="btn btn-dark">Annuler</button>
      </div>
    </form>

