<ngb-tabset>
  <ngb-tab title="Accident Collision">
<ng-template   #contentModal let-c="close" let-d="dismiss">
  <div class="modal-dialog modal-lg">
  <div class="modal-header">
      <h4 class="modal-title" id="modal-primary-title">Title</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div  class="modal-body centered">
   
  </div>
</div>
</ng-template>

    <ng-template ngbTabContent>
      <div class="l" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <a class="btn btn-sm btn-success text-white pull-right" (click)="openCollision()">
            <i class="fa fa-plus"></i>Add Accident Collision  </a>
     </div>
    <table class="table table-bordered table-responsive-sm table-responsive-md
   table-responsive-lg t">
    <thead>
    <tr>
    <th scope="col">Date Accident </th>
    <th scope="col">Heure Accident </th>
    <th scope="col">Description</th>
    <th scope="col">Image </th>
    <th scope="col">id lieux</th>
    <th scope="col">sous type accident </th>
    <th colspan="2">
      Action
    </th>
    </tr>
    </thead>
    <tbody>


    <tr  *ngFor="let item of accidentcollisions">
    
    <td>{{item.dateAccident}}</td>
    <td>{{item.heureAccident}}</td>
    <td>{{item.description}}</td>
    <td>
        <a href="#"><img class="card-img-top img-responsive"
        src = "{{this.crudApi.host+'/Imge/'+item.id}}" 
        style = "height :200px;width:fil-content"
       alt=""></a>
    </td>
    <td>{{item.lieux.id}}</td>
    <td>{{item.subType}}</td>
    <td><button class="btn btn-warning btn btn-outline-dark ml-1"  (click) = "selectCollision(item.id)" >
      <i class="fa fa-pencil-square-o" ></i></button></td>
   <td><button class="btn btn-danger btn btn-outline-dark ml-1" (click) = "removeData(item.id)">
      <i class="fa fa-trash-o"></i></button></td>
       </tr>
         </tbody>
         </table>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Accident Route">
        <ng-template ngbTabContent>
          <div class="l" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
            <a class="btn btn-sm btn-success text-white pull-right" (click)="openRoute()">
                <i class="fa fa-plus"></i>Add Accident Route</a>
         </div>
         <table class="table table-bordered table-responsive-sm table-responsive-md
         table-responsive-lg t">
          <thead>
          <tr>
          <th scope="col">Date Accident </th>
          <th scope="col">Heure Accident </th>
          <th scope="col">Description</th>
          <th scope="col">Image </th>
          <th scope="col">id lieux</th>
          <th scope="col">sous type accident </th>
          <th colspan="2">
            Action
          </th>
          </tr>
          </thead>
          <tbody>
      
      
          <tr  *ngFor="let item of accidentroutes ">
          
          <td>{{item.dateAccident}}</td>
          <td>{{item.heureAccident}}</td>
          <td>{{item.description}}</td>
          <td>
              <a href="#"><img class="card-img-top img-responsive"
              src = "{{this.crudApi.host+'/Imge/'+item.id}}" 
              style = "height :200px;width:fil-content"
             alt=""></a>
          </td>
          <td>{{item.lieux.id}}</td>
          <td>{{item.subType}}</td>
          <td><button class="btn btn-warning btn btn-outline-dark ml-1"  (click) = "selectRoute(item.id)" >
            <i class="fa fa-pencil-square-o" ></i></button></td>
         <td><button class="btn btn-danger btn btn-outline-dark ml-1" (click) = "removeData(item.id)">
            <i class="fa fa-trash-o"></i></button></td>
             </tr>
               </tbody>
               </table>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Accident Travail">
              <ng-template ngbTabContent>
                <div class="l" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
                  <a class="btn btn-sm btn-success text-white pull-right" (click)="openTravail()">
                      <i class="fa fa-plus"></i>Accident Travail</a>
               </div>
               <table class="table table-bordered table-responsive-sm table-responsive-md
   table-responsive-lg t">
    <thead>
    <tr>
    <th scope="col">Date Accident </th>
    <th scope="col">Heure Accident </th>
    <th scope="col">Description</th>
    <th scope="col">Image </th>
    <th scope="col">id lieux</th>
    <th scope="col">sous type accident </th>
    <th colspan="2">
      Action
    </th>
    </tr>
    </thead>
    <tbody>


    <tr  *ngFor="let item of accidenttravails ">
    
    <td>{{item.dateAccident}}</td>
    <td>{{item.heureAccident}}</td>
    <td>{{item.description}}</td>
    <td>
        <a href="#"><img class="card-img-top img-responsive"
        src = "{{this.crudApi.host+'/Imge/'+item.id}}" 
        style = "height :200px;width:fil-content"
       alt=""></a>
    </td>
    <td>{{item.lieux.id}}</td>
    <td>{{item.subType}}</td>
    <td><button class="btn btn-warning btn btn-outline-dark ml-1"  (click) = "selectTravail(item.id)" >
      <i class="fa fa-pencil-square-o" ></i></button></td>
   <td><button class="btn btn-danger btn btn-outline-dark ml-1" (click) = "removeData(item.id)">
      <i class="fa fa-trash-o"></i></button></td>
       </tr>
         </tbody>
         </table>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
    <div class="col-xs-12 col-12">
      <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" class="pagination-xl" [maxSize]="6"
                  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
    </div>