<div class="container-fluide">
<div class="row">
  <div id="id1" class="col-xs-5 col-sm-5 col-md-5 col-lg-5 ">
    <div class="card ">
      <div class="card-header">
        <i class="fa fa-edit"></i>{{pageTitle}}
        <div class="card-header-actions">
          <button type="button" class="card-header-action btn btn-link btn-minimize"(click)="toggleCollapse1()"><i class={{iconCollapse}}></i></button>
          <button type="button" class="card-header-action btn btn-link btn-close"(click)="close1()"><i class="icon-close"></i></button>
        </div>
      </div>
      <div (collapsed)="collapsed($event)"
      (expanded)="expanded($event)"
      [collapse]="isCollapsed1"
      class="card-body">
            <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">    
              <div class="form-group">
                <label>number </label>
                <input type="number" class="form-control" formControlName="number" id="number"  [ngClass]="{ 'is-invalid': submitted && f.number.errors }" />
                <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
                    <div *ngIf="f.number.errors.required"> numero  est obligatoire</div>
                    <div *ngIf="f.number.errors.numeric">numero  doit etre en numérique </div>
                </div>
              </div>
              <div class="form-group">
                <label>Date Huissier </label>
                <input type="date" class="form-control" formControlName="dateHuissier" id="dateHuissier"   [ngClass]="{ 'is-invalid': submitted && f.dateHuissier.errors }" />
                <div *ngIf="submitted && f.dateHuissier.errors" class="invalid-feedback">
                    <div *ngIf="f.dateHuissier.errors.required"> date est obligatoire</div>
                </div>
              </div>
              <div class="form-group">
                <label>heure Huissier </label>
                <input type="time" class="form-control" formControlName="heureHuissier" id="heureHuissier"   [ngClass]="{ 'is-invalid': submitted && f.heureHuissier.errors }" />
                <div *ngIf="submitted && f.heureHuissier.errors" class="invalid-feedback">
                    <div *ngIf="f.heureHuissier.errors.required"> heure est obligatoire</div>
                    <div *ngIf="f.heureHuissier.errors.time"> heure doit etre en time </div>
                </div>
              </div>
              <div class="form-group">
                <label> Accident  </label>
                <select id="idaccident" formControlName="idaccident" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.idaccident.errors }">
                  <option *ngFor="let d of  accidents" [value]="d.id">{{d.description}}</option>
                </select>
                <div *ngIf="submitted && f.idaccident.errors" class="invalid-feedback">
                  <div *ngIf="f.idaccident.errors.required">Id accident est obligatoire </div>
              </div>
             </div>
             <div class="form-group">
              <label>source declare huissier  </label>
              <select id="idsourcedeclarehuissier" formControlName="idsourcedeclarehuissier" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.idsourcedeclarehuissier.errors }">
                <option *ngFor="let d of  sourcedeclarehuissiers" [value]="d.id">{{d.name}}</option>
              </select>
              <div *ngIf="submitted && f.idsourcedeclarehuissier.errors" class="invalid-feedback">
                <div *ngIf="f.idsourcedeclarehuissier.errors.required">Id source declare huissier est obligatoire </div>
            </div>
             </div>
             <div class="form-group">
              <label>Securite  </label>
              <select id="idsecurite" formControlName="idsecurite" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.idsecurite.errors }">
                <option *ngFor="let d of  securites" [value]="d.id">{{d.address}}</option>
              </select>
              <div *ngIf="submitted && f.idsecurite.errors" class="invalid-feedback">
                <div *ngIf="f.idsecurite.errors.required">Id securite est obligatoire </div>
            </div>
             </div>
              <div class="form-group">
                <button type="submit" class="btn btn-dark"> Submit</button>
                <button type="reset" class="btn btn-dark">Annuler</button>
              </div>
            </form>
          </div>
        </div>
        </div>
        <div id="id2" class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <div class="card ">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Liste Huissier
            <div class="card-header-actions">
              <button type="button" class="card-header-action btn btn-link btn-minimize"(click)="toggleCollapse2()"><i class={{iconCollapse}}></i></button>
              <button type="button" class="card-header-action btn btn-link btn-close"(click)="close2()"><i class="icon-close"></i></button>
            </div>
          </div>
          <div (collapsed)="collapsed($event)"
          (expanded)="expanded($event)"
          [collapse]="isCollapsed2"
          class="card-body">
            <app-huissier [huissier]="huissier" [page1]="page1" [count1]="count1" [pageSize1]="pageSize1"></app-huissier>
          </div>
        </div>
        </div>
        </div>
        </div>
        
