

    <div class="container-fluide">
      <div class="row">
        <div id="id1" class="col-xs-5 col-sm-5 col-md-5 col-lg-5 ">
          <div class="card ">
            <div class="card-header">
              <i class="fa fa-edit"></i>{{pageTitle}}
              <div class="card-header-actions">
                <button type="button" class="card-header-action btn btn-link btn-minimize"(click)="toggleCollapse1()"><i class={{iconCollapse}}></i></button>
                <button type="button" class="card-header-action btn btn-link btn-close"(click)="close1()"><i class="icon-close"></i></button>
              </div>
            </div>
            <div (collapsed)="collapsed($event)"
            (expanded)="expanded($event)"
            [collapse]="isCollapsed1"
            class="card-body">
              <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="libelle" id="libelle" placeholder="libelle" autocomplete="libelle"  [ngClass]="{ 'is-invalid': submitted && f.libelle.errors }" />
                  <div *ngIf="submitted && f.libelle.errors" class="invalid-feedback">
                      <div *ngIf="f.libelle.errors.required"> libelle is required</div>
                      <div *ngIf="f.libelle.errors.alpha"> libelle doit etre en alphabétique </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Rubrique  </label>
                  <select id="idrubrique" formControlName="idrubrique" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.idrubrique.errors }">
                    <option *ngFor="let d of  rubriques" [value]="d.id">{{d.libelle}}</option>
                  </select>
                  <div *ngIf="submitted && f.idrubrique.errors" class="invalid-feedback">
                    <div *ngIf="f.idrubrique.errors.required">Id rubrique est obligatoire </div>
                </div>
                 </div>
                <button type="submit" class="btn btn-block btn-success">Create Rubrique</button>
                <button type="reset" class="btn btn-block btn-dark" (click)="ResetForm()">Annuler</button>
              </form>
            </div>
          </div>
        </div>
        <div id="id2" class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
          <div class="card ">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Liste SousRubriques
              <div class="card-header-actions">
                <button type="button" class="card-header-action btn btn-link btn-minimize"(click)="toggleCollapse2()"><i class={{iconCollapse}}></i></button>
                <button type="button" class="card-header-action btn btn-link btn-close"(click)="close2()"><i class="icon-close"></i></button>
              </div>
            </div>
            <div (collapsed)="collapsed($event)"
            (expanded)="expanded($event)"
            [collapse]="isCollapsed2"
            class="card-body">
            <app-sousrubrique [sousrubriques]="sousrubriques"></app-sousrubrique>
            </div>
          </div>
        </div>
      </div>
    </div>



