     <div>
      Liste Agents
    </div>
    <div class="l" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        
                <a class="btn btn-sm btn-success text-white pull-right" routerLink="/base/addagent">
                    <i class="fa fa-plus"></i>Add Agent </a>
         
    </div>

 <div class="pricing-header mx-auto ">
   <div class="table-responsive">
    <table class="table table-bordered table-responsive-sm table-responsive-md
   table-responsive-lg t">
    <thead>
    <tr>
    <th scope="col">Nom</th>
    <th scope="col">Prenom </th>
    <th scope="col">Adresse</th>
    <th scope="col">Email </th>
    <th scope="col">Matricule</th>
    <th scope="col">Telephone </th>
    <th scope="col">Type </th>
    <th colspan="2">
      Action
    </th>
    </tr>
    </thead>
    <tbody>


    <tr *ngFor="let item of agents._embedded.agents ">
    <td>{{item.name}}</td>
    <td>{{item.lastName}}</td>
    <td>{{item.address}}</td>
    <td>{{item.email}}</td>
    <td>{{item.matricule}}</td>
    <td>{{item.phone}}</td>
    <td>{{item.type}}</td>
   
    <td><button class="btn btn-warning btn btn-outline-dark ml-1"  (click) = "selectData(item)" [routerLink]="['/base/editagent', item.id, 'edit']">
      <i class="fa fa-pencil-square-o" ></i></button></td>
   <td><button class="btn btn-danger btn btn-outline-dark ml-1" (click) = "removeData(item.id)">
      <i class="fa fa-trash-o"></i></button></td>
       </tr>
         </tbody>
         </table>
         </div>
       </div>
