<div class="container-fluide">
  <div class="row">
    <div id="id1" class="col-xs-11 col-sm-11 col-md-11 col-lg-11 ">
      <div class="card ">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Evolution Nombres Accident
          
          <div class="card-header-actions">
            <button type="button" class="card-header-action btn btn-link btn-minimize"(click)="toggleCollapse1()"><i class={{iconCollapse}}></i></button>
            <button type="button" class="card-header-action btn btn-link btn-close"(click)="close1()"><i class="icon-close"></i></button>
          </div>
        </div>
        <div (collapsed)="collapsed($event)"
        (expanded)="expanded($event)"
        [collapse]="isCollapsed1"
        class="card-body">
  <div class="row"> 
    <div class="col-md-2">Saisir Date d'evaluation</div>
    <div class="col-md-5">
      <input id="d1" type="number" class="form-control" [(ngModel)]="d1"
             (change)="chercher($event)" />
    </div>
   
  </div>
 

 
  <div class="pricing-header mx-auto ">
          <div> Evolution des nombres d'accident durée l'année: {{d1}}
              <div class="table-responsive content">
                <div class="ex">  
                  <button  style="width: 205px;" class="btn btn-success" type="submit" value="ExportToExcel" name="action" (click)="runExcel1()">  
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i> Export To Excel  
                  </button>  
                  <button style="width: 205px;" class="btn btn-success" type="submit" value="ExportToCsv" name="action" (click)="runCsv1()">  
                    <i class="fa fa-csv"></i> Export To Csv  
                  </button>  
                  <button style="width: 205px;" class="btn btn-success" type="submit" value="ExportToPdf" name="action" (click)="runPdf1()">  
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Export To Pdf  
                  </button>  
                  <button style="width: 205px;" class="btn btn-success" type="submit" value="ExportToWord" name="action" (click)="runWord1()">  
                    <i class="fa fa-file-word-o" aria-hidden="true"></i> Export To Word  
                  </button>  
                  <button style="width: 205px;" class="btn btn-success" type="submit" value="ExportToHtml" name="action" (click)="runHtml1()">  
                    <i class="fa fa-file-code-o" aria-hidden="true"></i> Export To Html 
                  </button>  
                </div>  
                   <table class="table table-bordered table-responsive-sm table-responsive-md
                     table-responsive-lg t">
                    <thead>
                      <tr>
                        <th scope="col" >Mois</th>
                        <th scope="col" >Nombres Accidents</th>
                      </tr>
                     
                    </thead>
                     <tbody>
                     <tr *ngFor="let item of nbrAccidentParMois" >
                     <td >{{item.mois}}</td>
                     <td>{{item.nbrAccident}}</td>
                        </tr>
                          </tbody>
                          </table>
                        </div>
                      </div>
                      </div>
                      <div class="pricing-header mx-auto ">
                        <div> Evolution des nombres des morts durée l'année: {{d1}}
                            <div class="table-responsive content">
                              <div class="ex">  
                                <button  style="width: 205px;" class="btn btn-success" type="submit" value="ExportToExcel" name="action" (click)="runExcel2()">  
                                  <i class="fa fa-file-excel-o" aria-hidden="true"></i> Export To Excel  
                                </button>  
                                <button style="width: 205px;" class="btn btn-success" type="submit" value="ExportToCsv" name="action" (click)="runCsv2()">  
                                  <i class="fa fa-csv"></i> Export To Csv  
                                </button>  
                                <button style="width: 205px;" class="btn btn-success" type="submit" value="ExportToPdf" name="action" (click)="runPdf2()">  
                                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Export To Pdf  
                                </button>  
                                <button style="width: 205px;" class="btn btn-success" type="submit" value="ExportToWord" name="action" (click)="runWord2()">  
                                  <i class="fa fa-file-word-o" aria-hidden="true"></i> Export To Word  
                                </button>  
                                <button style="width: 205px;" class="btn btn-success" type="submit" value="ExportToHtml" name="action" (click)="runHtml2()">  
                                  <i class="fa fa-file-code-o" aria-hidden="true"></i> Export To Html 
                                </button>  
                              </div>   
                                 <table class="table table-bordered table-responsive-sm table-responsive-md
                                   table-responsive-lg t">
                                  <thead>
                                    <tr>
                                      <th scope="col" >Mois</th>
                                      <th scope="col" >Nombres Morts</th>
                                    </tr>
                                  </thead>
                                   <tbody>
                                   <tr *ngFor="let item of nbrMortParMois" >
                                   <td >{{item.mois}}</td>
                                   <td>{{item.nbrMorts}}</td>
                                      </tr>
                                        </tbody>
                                        </table>
                                      </div>
                                    </div>
                                    </div>

                                    <div class="pricing-header mx-auto ">
                                      <div> Evolution des nombres des blessures durée l'année: {{d1}}
                                          <div class="table-responsive content">
                                            <div class="ex">  
                                              <button  style="width: 205px;" class="btn btn-success" type="submit" value="ExportToExcel" name="action" (click)="runExcel3()">  
                                                <i class="fa fa-file-excel-o" aria-hidden="true"></i> Export To Excel  
                                              </button>  
                                              <button style="width: 205px;" class="btn btn-success" type="submit" value="ExportToCsv" name="action" (click)="runCsv3()">  
                                                <i class="fa fa-csv"></i> Export To Csv  
                                              </button>  
                                              <button style="width: 205px;" class="btn btn-success" type="submit" value="ExportToPdf" name="action" (click)="runPdf3()">  
                                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Export To Pdf  
                                              </button>  
                                              <button style="width: 205px;" class="btn btn-success" type="submit" value="ExportToWord" name="action" (click)="runWord3()">  
                                                <i class="fa fa-file-word-o" aria-hidden="true"></i> Export To Word  
                                              </button>  
                                              <button style="width: 205px;" class="btn btn-success" type="submit" value="ExportToHtml" name="action" (click)="runHtml3()">  
                                                <i class="fa fa-file-code-o" aria-hidden="true"></i> Export To Html 
                                              </button>  
                                            </div>  
                                               <table class="table table-bordered table-responsive-sm table-responsive-md
                                                 table-responsive-lg t">
                                                <thead>
                                                  <tr>
                                                    <th scope="col" rowspan="2" >Mois</th>
                                                    <th scope="col" colspan="2">Nombres Blessures</th>
                                                  </tr>
                                                  <tr>
                                                    <th scope="col">Dangereux</th>
                                                    <th scope="col">Mineures</th>
                                                  </tr>
                                                </thead>
                                                 <tbody>
                                                 <tr *ngFor="let item of nbrBlesserParMois" >
                                                 <td>{{item.mois}}</td>
                                                 <td>{{item.nbrBlessureDanger }}</td>
                                                 <td>{{item.nbrBlessureMineur  }}</td>
                                                    </tr>
                                                      </tbody>
                                                      </table>
                                                    </div>
                                                  </div>
                                                  </div>
                      </div>
                      </div>