
   
    <div>
      <h1>{{pageTitle}}</h1>
    </div>
 
    <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Date Accident </label>
        <input type="date" class="form-control" formControlName="dateAccident" id="dateAccident"   >
      </div>
      <div class="form-group">
        <label>heure Accident </label>
        <input type="time" class="form-control" formControlName="heureAccident" id="heureAccident"   >
      </div>
      <div class="form-group">
        <label>Description </label>
        <input type="text" class="form-control" formControlName="description" id="description"   >
      </div>
      <div class="form-group">
          <label>File Upload  </label>
              <input type="file" accept="image/*" (change)="onSelectFile($event)">
              <img [src]="imgURL" height="200" *ngIf="imgURL">
      </div>
      
      <div class="form-group" id="e1">
        <label> lieux Accident</label>
        <select id="idlieux" formControlName="idlieux" class="form-control">
          <option *ngFor="let l of  lieuxAccidents._embedded.lieuxAccidents" [value]="l.id">{{l.emplacement}}</option>
        </select>
    </div>
      <div class="form-group" >
        <label>sous type accident </label>
        <select id="subType" formControlName="subType" class="form-control">
          <option value="casser verre">
            casser verre
          </option>
          <option value="agression">
            agression 
          </option>
          <option value="vandalisme">
            vandalisme
          </option>
          <option value="collision bus">
            collision bus
          </option>
          <option value="collision metro">
            collision metro
          </option>
        </select>
    </div>
      <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
        <button type="reset" class="btn btn-dark">Annuler</button>
      </div>
    </form>