
    <div>
      <h1>{{pageTitle}}</h1>
    </div>
 
    <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Description </label>
        <input type="text" class="form-control" formControlName="description" id="description"   >
      </div>
      <div class="form-group">
        <label>Number Serie </label>
        <input type="text" class="form-control" formControlName="numberSerie" id="numberSerie"   >
      </div>
      <div class="form-group">
        <label>Date Acquisition </label>
        <input type="date" class="form-control" formControlName="dateAcquisition" id="dateAcquisition"   >
      </div>
      <div class="form-group">
        <label>heure Acquisition </label>
        <input type="time" class="form-control" formControlName="heureAcquisition" id="heureAcquisition"   >
      </div>
      <div class="form-group">
        <label>Date Maintenance </label>
        <input type="date" class="form-control" formControlName="dateMaintenance" id="dateMaintenance"   >
      </div>
      <div class="form-group">
        <label>heure Maintenance </label>
        <input type="time" class="form-control" formControlName="heureMaintenance" id="heureMaintenance"   >
      </div>
      <div class="form-group">
        <label>Date Peremption </label>
        <input type="date" class="form-control" formControlName="datePeremption" id="datePeremption"   >
      </div>
      <div class="form-group">
        <label>heure Peremption </label>
        <input type="time" class="form-control" formControlName="heurePeremption" id="heurePeremption"   >
      </div>
      <div class="form-group" >
        <label>type extincteur </label>
        <select id="subtype" formControlName="subtype" class="form-control">
          <option value="Extincteur à eau ">
            Extincteur à eau 
          </option>
          <option value="Extincteur à poudre">
            Extincteur à poudre
          </option>
          <option value="Extincteur à gaz">
            Extincteur à gaz
          </option>
          <option value="Extincteur à mousse">
            Extincteur à mousse
          </option>
        </select>
    </div>
      <div class="form-group">
          <label>File Upload  </label>
              <input type="file" accept="image/*" (change)="onSelectFile($event)">
              <img [src]="imgURL" height="200" *ngIf="imgURL">
      </div>
      <div class="form-group" (change)="changeEmplacement($event)">
        <label>moyen transport</label>
        <input id="moyentransport" type="radio" value="moyen transport" name="emplacement" formControlName="emplacement" >
      <label >depot</label>
        <input id="depot" type="radio" value="depot" name="emplacement" formControlName="emplacement" >
        <label >departement</label>
        <input id="departement" type="radio" value="departement" name="emplacement" formControlName="emplacement" >
  </div>
      <div class="form-group"  id="e1" style="display: none;">
        <label> moyen transport </label>
        <select id="idmoyentransport" formControlName="idmoyentransport" class="form-control">
          <option *ngFor="let m of  moyentransports._embedded.moyenTransports" [value]="m.id">{{m.matricule}} avec numero {{m.numTransport}} </option>
        </select>
    </div>
    <div class="form-group"  id="e2" style="display: none;">
      <label> depot </label>
      <select id="iddepot" formControlName="iddepot" class="form-control">
        <option *ngFor="let d of  depots._embedded.depots" [value]="d.id">{{d.nameDepot}} </option>
      </select>
  </div>
  <div class="form-group"  id="e3" style="display: none;">
    <label> departement</label>
    <select id="iddepartement" formControlName="iddepartement" class="form-control">
      <option *ngFor="let dp of  departements._embedded.departements" [value]="dp.id">{{dp.nameDepartement}}  </option>
    </select>
</div>
      <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
        <button type="reset" class="btn btn-dark">Annuler</button>
      </div>
    </form>