<div>
    Liste  Type Accident
  </div>
  <div class="l" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      
              <a class="btn btn-sm btn-success text-white pull-right" routerLink="/base/addtypeaccident">
                  <i class="fa fa-plus"></i>Add  Type Accident</a>
       
  </div>

<div class="pricing-header mx-auto ">
 <div class="table-responsive">
  <table class="table table-bordered table-responsive-sm table-responsive-md
 table-responsive-lg t">
  <thead>
  <tr>
    
	
  <th scope="col">Label</th>
  <th scope="col">Alias </th>
  
  <th colspan="2">
    Action
  </th>
  </tr>
  </thead>
  <tbody>


  <tr *ngFor="let item of typeAccidents._embedded.typeAccidents ">
  <td>{{item.label}}</td>
  <td>{{item.alias}}</td>
  <td><button class="btn btn-warning btn btn-outline-dark ml-1"  (click) = "selectData(item)" [routerLink]="['/base/edittypeaccident', item.id, 'edit']">
    <i class="fa fa-pencil-square-o" ></i></button></td>
 <td><button class="btn btn-danger btn btn-outline-dark ml-1" (click) = "removeData(item.id)">
    <i class="fa fa-trash-o"></i></button></td>
     </tr>
       </tbody>
       </table>
       </div>
     </div>


